<div class="modal fade" id="EDgrupo" tabindex="-1" role="dialog" aria-labelledby="AGcurso" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ng-submit="GestionGR(2)">
      <div class="modal-body">
        <h3>ID: {{GrupoID}}</h3>
        <input type="text" ng-model="nombreGR" placeholder="Nombre Grupo" class="form-control" style="margin: 5px 10px" />
        <select class="form-control" style="margin: 5px 10px" ng-model="SeccionGR" ng-options="gr as gr.nombre for gr in seccionList"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-outline-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>