<!DOCTYPE html>

<html ng-app="app">
    <head>
        <title><%=title %></title>
        <link  rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link  rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-grid.min.css"/>
        <script src="bower_components/angular/angular.min.js" ></script>
        <script src="bower_components/jquery/dist/jquery.min.js" ></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
    </head>
    <body ng-controller="funcionesGrupos">
            <div class="jumbotron">
                Bienvenido aca le mostramos los grupos y cursos
            </div>

            <h1 style="padding: 5px 40%; background: #5757f5; color: #fff; margin: 10px 0px;">Grupos </h1>
            <div class="container-fluid">
            <div class="col-lg-11 btn-group">
                <input type="text" placeholder="Buscar Curso" class="form-control" ng-model="searchGR" />
                <button class="btn btn-outline-success" data-toggle="modal" data-target="#AGgrupo" type="button" style="font-size: 2em;">+</button>
            </div>

            <table style="border-radius: 4px;" class="table table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <td>#</td><td>Nombre</td><td>Seccion</td><td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="grup in grupoList | filter: searchGR">
                        <td>{{grup.idGrupo}}</td><td>{{grup.nombre}}</td><td>{{grup.nombreSeccion}}</td>
                        <td>
                            <div class="btn-group">
                                <button style="font-size: 1em" class="btn btn-outline-warning" ng-click="setGR(grup)" data-toggle="modal" data-target="#EDgrupo" type="button" style="font-size: 2em;">Modificar</button>
                                <button style="font-size: 1em" class="btn btn-outline-danger" ng-click="setGR(grup)" data-toggle="modal" data-target="#ELgrupo" type="button" style="font-size: 2em;">Borrar</button>
                            </div>
                        </td>
                    </tr>   
                </tbody>
            </table>
            </div>


         <h1 style="padding: 5px 40%; background: #57d8f5; color: #fff; margin: 10px 0px;">Curso </h1>
          <div class="container-fluid">
            <div class="col-lg-11 btn-group">
                <input type="text" placeholder="Buscar Curso" class="form-control" ng-model="searchSC" />
                <button class="btn btn-outline-success" data-toggle="modal" data-target="#AGcurso" type="button" style="font-size: 2em;">+</button>
            </div>

            <table style="border-radius: 4px;" class="table table-hover table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <td>#</td><td>Nombre</td><td>Grupo</td><td>Opciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="curs in cursoList | filter: searchSC">
                        <td>{{curs.idCurso}}</td><td>{{curs.nombre}}</td><td>{{curs.idGrupo}}</td>
                        <td>
                            <div class="btn-group">
                                <button style="font-size: 1em" class="btn btn-outline-warning" type="button" style="font-size: 2em;">Modificar</button>
                                <button style="font-size: 1em" class="btn btn-outline-danger" type="button" style="font-size: 2em;">Borrar</button>
                            </div>
                        </td>
                    </tr>   
                </tbody>
            </table>
            </div>
            <% include EDgrupo %>
            <% include ELgrupo %>
            <% include AGcurso %>
             <% include AGGrupo %>
    </body>
    <script>
        angular.module("app",[]).controller("funcionesGrupos",["$scope","$http", function($scope, $http){

            function getData(){
                $http.get("/api/grupo").then(function(response){
                    $scope.grupoList =response.data
                    console.log($scope.grupoList)
                });
                $http.get("/api/curso").then(function(response){
                    $scope.cursoList =response.data
                    console.log($scope.cursoList)
                });
                $http.get("/api/seccion").then(function(response){
                    $scope.seccionList =response.data
                    console.log($scope.seccionList)
                });
            }

            $scope.setGR =function(CR){
                $scope.GrupoID= CR.idGrupo
                $scope.nombreGR= CR.nombre
            }

            $scope.setCR =function(GR){

            }
            $scope.setSC =function(SC){

            }

            $scope.GestionGR = function(OP){
                var data  ={}, method = "post", url="/api/grupo"
                switch(OP){
                    case 1:
                        data = {
                            nombre:$scope.nombreGR,
                            idSeccion:$scope.SeccionGR.idSeccion
                        }
                    break;
                    case 2:
                         method = "put"
                         url="/api/grupo/"+$scope.GrupoID
                         data = {
                                idGrupo:$scope.GrupoID,
                                nombre:$scope.nombreGR,
                                idSeccion:$scope.SeccionGR.idSeccion
                            }
                    break;
                    case 3:
                         method = "delete"
                         data = {idGrupo:$scope.GrupoID }
                    break;
                }

                $http({
                    method: method,
                    url: url,
                    data: data,
                    headers: {"Content-type":"application/json"}
                }).then(function(response){
                   $scope.Mensaje = response.data.Mensaje
                })
                getData();
            }


             $scope.GestionCR = function(OP){
                var data  ={}, method = "post", url="/api/curso/"
                switch(OP){
                    case 1:
                        data = {
                            nombre:$scope.nombreCR,
                            idGrupo:$scope.GrupoCR.idGrupo
                        }
                    break;
                    case 2:
                         method = "put"
                         url="/api/grupo/"+data.idGrupo
                         data = {
                                idCurso :$scope.CursoID,
                                nombre:$scope.nombreCR,
                                 idGrupo:$scope.GrupoCR.idGrupo
                            }
                    break;
                    case 3:
                         method = "delete"
                         data = {idCurso :$scope.CursoID}
                    break;
                }

                $http({
                    method: method,
                    url: url,
                    data: data,
                    headers: {"Content-type":"application/json"}
                }).then(function(response){
                   $scope.Mensaje = response.data.Mensaje
                })
                getData();
            }

             $scope.GestionSC = function(OP){
                var data  ={}, method = "post", url="/api/seccion/"
                switch(OP){
                    case 1:
                        data = {nombre:$scope.nombreSC}
                    break;
                    case 2:
                         method = "put"
                         url="/api/seccion/"+data.idGrupo
                         data = {idSeccion :$scope.SeccionID, nombre:$scope.nombreSC}
                    break;
                    case 3:
                         method = "delete"
                         data = {idSeccion :$scope.SeccionID}
                    break;
                }

                $http({
                    method: method,
                    url: url,
                    data: data,
                    headers: {"Content-type":"application/json"}
                }).then(function(response){
                   $scope.Mensaje = response.data.Mensaje
                })
                getData();
            }
getData()
}]);

    </script>
</html>